
<!doctype html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title >Document</title>
</head>
<body>
	<section>
		
	
<div class="container">
	
	<div class="card">
		
		<div class="card-body">
			
			<div class=" container text-center">
			<img     th:src="@{'/image/wall.png'}" alt=""/>
			
			</div>
			
			<div class="container text-center mt-3">
				<h1 style="font-family: 'Courier New', Courier, monospace;">Start adding your contacts</h1>
				
				
			</div>
			
			
		</div>
		
		
	</div>
	
</div>
		
		
	</section>
</body>
</html>
