
<!doctype html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title >Document</title>
</head>
<body>
	<section>

<div class="container">
	
<div class="card">
	
	<div class="card-body">
	 <!--<img  style="height: 200px;width: 200px;"   class="my-profile-picture"  th:src="@{'/image/'}+${user.imageUrl}" alt=""/>-->

		<div class=" container text-center">
			<img  style="height: 200px;width: 200px;"   class="my-profile-picture"  th:src="@{'/image/user.png'}" alt=""/>
		</div>
		<h3 class="text-center" th:text="${user.name}"></h3>
		<table class="table text-center">
  			<thead>
   		 <tr>
      <th scope="col">ID</th>
      <th scope="col" >UserID<span  th:text="${user.id}"  ></span></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
		
		<th scope="row">E-mail</th>
		<td><span th:text="${user.email}"></span></td>
		
		
		
	</tr>
      
     <tr>
		
		<th scope="row">role</th>
		<td><span th:text="${user.role}"></span></td>
		
		
		
	</tr>
      
     <tr>
		
		<th scope="row">about</th>
		<td><span th:text="${user.about}"></span></td>
		
		
		
	</tr>  
	
	
	<tr>
		
		<th scope="row">Account active:</th>
		<td><span th:text="${user.enabled}"></span></td>
		
		
		
	</tr>   
	 
   
  </tbody>
 
</table>	
		
		
		
		
		
		
		
		
	</div>
	
	
	
</div>
	
	
	
</div>
		
		
	</section>
</body>
</html>
