
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  th:replace="~{Base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>
	<section>
			
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                       <h3 class="text-center">Enter the email Id </h3>
                       
                       <!--message alert-->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
	  						<p  class="text-center"   th:text="${session.message.content}" ></p>
	  						<th:block th:text="${@removeMessage.removeSessionAttribute()}"></th:block>
						</div>
                       <form  th:action="@{/sendotp}" method="post" class="mt-5">
						   
						   <div class="form-group text-center">
							   <label>Email-id:</label>
							   <input required  type="email" name="email" placeholder="Enter email-id " >
							   
						   </div>
						   <div class="container text-center mt-3">
							   
							   <button class="btn btn-warning">Send OTP</button>
							   
						   </div>
						   
						   
					   </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


	
		
	</section>
</body>
</html>
